/* all */

html {
  background: #6B705C;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
  padding: 10px;
}

.item {
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
}

#button-text {
  display: relative;
  margin: 10px;
  padding: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: white;
}

/* home */

#title {
  position: absolute;
  top: 20%;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;

  color: #23261B;
}

.map {
  position: absolute;
  left: 40%;
  top: 10%;
}


#about {
  float: right;
  padding: 10px;
}

.markers:hover {
    transform: scale(2);
}

#redwood {
  position: absolute;
  top: 2%;
  left: 6%;
}

#lassen-volcanic {
  position: absolute;
  top: 5%;
  left: 25%;
}

#point-reyes {
  position: absolute;
  top: 29%;
  left: 13%;
}

#yosemite {
  position: absolute;
  top: 32%;
  left: 41%;
}

#pinnacles {
  position: absolute;
  top: 45%;
  left: 25%;
}

#kings-canyon {
  position: absolute;
  top: 42%;
  left: 50%;
}

#sequioa {
  position: absolute;
  top: 45%;
  left: 52%;
}

#death-valley {
  position: absolute;
  top: 48%;
  left: 63%;
}

#channel-islands {
  position: absolute;
  top: 74%;
  left: 40%;
}

#joshua-tree {
  position: absolute;
  top: 79%;
  left: 78%;
}

    /*pop ups */
.hidden {
    display: none;
}

#popup-overlay {
    position: absolute;
    width: 50%;
    height: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #505542;
    border-radius: 20px;

    display: flex;

    padding: 10px;
}
.popup img {
    width: 400px;
    height: 350px;
}

#name {
  text-align: center;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: center;

  color: #070707;
}

.small-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
  padding: 10px;
}

.button {
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
}

#small-text {
  display: relative;
  margin: 10px;
  padding: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  align-items: center;

  color: white;
  text-decoration: none;
}


/* about */

#back {
  position: absolute;
  height: 10px;
  left: 25px;
  width: 10px;
  opacity: 0.3;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);

  margin-bottom: 10px;
}

#back:hover {
  opacity: 1.0;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 50px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 65px;

  color: #23261B;
}

#blurb {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;

  text-indent: 50px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;

  color: #FFFFFF;
}

#part1 {
  margin-bottom: 25px;
}

.text-box {
  position: flex;
  width: 100%;
  min-height: 50%;
  top: 150px;

  padding-top: 10px;
  padding-bottom: 10px;

  background: #505542;
  border-radius: 10px;
}
